/.venv/
/ML_Specialization/C1/Week_3/__pycache__
/ML_Specialization/C1/Week_3/tempCodeRunnerFile.py
/ML_Specialization/C1/Week_3/W3_Practice_Lab/__pycache__
/ML_Specialization/C1/Week_2/__pycache__
/ML_Specialization/C1/Week_1/__pycache__
